@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Open+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
}
/*==== Header ====*/
#logo2{
    width: 160px;
}
#btn-mobile{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;

    border-top: 6px solid #8E72DC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.167);
}
.grupoDeOpc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.usuariLog{
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;

    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.usuariLog img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
}
.iconeGruo{
    padding-left: 10px;
}
.setaBaixo img{
    width: 10px;
    height: 10px;
}

#plano{
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #3F4A52;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3F4A52;
}

.setaUser{
    width: 10px;
    height: 10px;
    margin-right: 18px;
    cursor: pointer;
}

/*==== Header ====*/

/*=====Opções do usuario*/
#contaUp{
    display: none;
}

.opcUser{
    display: none;
    background: rgba(0, 0, 0, 0.27);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.opcUser2{
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    color: #3F4A52;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;

    max-width: 200px;
    margin-top: 65px;
    margin-left: 85%;
}

#sairUser{
    border-top: 1px solid black;
    margin-top: 50px;
}
.opcUser2 p{
    padding-left: 40px;
    cursor: pointer;
    padding: 5px;
}
.opcUser2 p:hover{
    background: rgba(0, 0, 0, 0.146);
}

/*=====Opções do usuario*/

/*=====MENU======*/
.HeaderMenu{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 1rem;
    
}

.HeaderMenu a{
    color: #3F4A52;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    padding: .5rem;
}
.HeaderMenu a:hover{
    background: rgba(0, 0, 0, 0.153);
}

.menu{
    padding: 0px;
    display: flex;
    gap: .5rem;
}

.menu li{
    list-style: none;
}

/*=====MENU======*/

/*=====FOOTER=======*/

.footer{
    background: #3F4A52;
    padding: 20px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.footer > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.primeiro{
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: 1px solid #E5E5E5;
}
.primeiro p{
    display: block;
    padding: .5rem;
}

#affst{
    margin-right: 45px;
    color: rgba(255, 0, 0, 0);
}

#affst2{
    margin-right: 45px;
    color: rgba(255, 0, 0, 0);
}

#anima1 img{
width: 23px;

transition: all 0.5s;
cursor: pointer;
}
#anima1 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.grupo1{
    display: flex;
}
#pago{
    width: auto;
    margin: auto;
}

.EmBranco{
    padding-top: 300px;
    padding-bottom: 300px;
}
/*=====FOOTER=======*/

/*==============*/

@media(max-width: 1000px){
    .opcUser2{
        max-width: 200px;
        margin-top: 70px;
        margin-left: 80%;
    }
}

@media(max-width: 900px){
    .opcUser2{
        max-width: 200px;
        margin-top: 70px;
        margin-left: 70%;
    }
}

/*=========*/

@media(max-width: 600px){
    #ajudaIcone{
        display: none;
    }
    .usuariLog{
        display: none;
    }
    #plano{
        display: none;
    }
    .setaUser{
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #FAFAFA;
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active .menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.133);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: rgba(0, 0, 255, 0);
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger{
        width: 20px;
        border-top: 2px solid;
        display: block;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }


    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    /*======FOOTER====*/
    .footer{
        display: flex;
        flex-wrap: wrap;
    }

    .primeiro{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
    .primeiro p{
        padding: 5px;
    }
    .grupo1{
        position: relative;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*background: firebrick;*/
        margin: auto;
    }

    #pago{
        width: auto;
        margin: auto;
    }
    .anima1{
        margin-left: 50px;
    }
    /*======FOOTER====*/
    #contaUp{
        display: block;
    }
    .opcUser2{
        max-width: 200px;
        margin-top: 70px;
        margin-left: 50%;
    }
}