@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Open+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
}
/*==== Header ====*/
#logo2{
    width: 160px;
}
#btn-mobile{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;

    border-top: 6px solid #8E72DC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.167);
}
.grupoDeOpc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.usuariLog{
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
    align-items: center;

    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.usuariLog img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
}
.iconeGruo{
    padding-left: 10px;
}
.setaBaixo img{
    width: 10px;
    height: 10px;
}

#plano{
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #3F4A52;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3F4A52;
}

.setaUser{
    width: 10px;
    height: 10px;
    margin-right: 18px;
}

/*==== Header ====*/

/*=====MENU======*/
.HeaderMenu{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 1rem;
    
}

.HeaderMenu a{
    color: #3F4A52;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    padding: .5rem;
}
.HeaderMenu a:hover{
    background: rgba(0, 0, 0, 0.153);
}

.menu{
    padding: 0px;
    display: flex;
    gap: .5rem;
}

.menu li{
    list-style: none;
}

/*=====MENU======*/

@media(max-width: 600px){
    #ajudaIcone{
        display: none;
    }
    .usuariLog{
        display: none;
    }
    #plano{
        display: none;
    }
    .setaUser{
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #FAFAFA;
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active .menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.133);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: rgba(0, 0, 255, 0);
        cursor: pointer;
        gap: .5rem;
    }

    #buguer{
        border-top: 2px solid;
        width: 20px;
    }

    #buguer::after, #buguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #buguer{
        border-top-color: transparent;
    }

    #nav .active #buguer::before{
        transform: rotate(135deg);
    }

    #nav.active #bugue::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}