@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #CDCDD4;
    font-family: 'Open Sans', sans-serif;
}

#gratis{
    
    background: #8e72dc;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.header{
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.header li, a{
    list-style: none;
    text-decoration: none;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.header a:hover{
    background: rgba(0, 0, 0, 0.255);
}

.part1{
    display: flex;
    justify-content: space-around;
    
}
.part1 ul{
    display: flex;
}
.part2 ul{
    display: flex;
}

.gus1{
    /*display: none;*/
    background: rgba(0, 0, 0, 0.686);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gus{
    background: white;
    max-width: 350px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    text-align: center;
}
.gus li{
    text-align: left;
}

.gus a{
    text-decoration: none;
    background: rgb(29, 29, 112);
    padding: 5px;
    color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
#feche{
    background: red;
}
#pront{
    color: blue;
}
#pront2{
    color: red;
}

@media(max-width: 600px){
    .header{
        display: none;
    }
    .gus1{
        overflow: auto;
    }

    .gus{
        max-width: 360px;
    }
    
}